.button-blue{
    background-color: #bc003f;
    border: #bc003f;
}
.appoinment-tag{
    background: #bc003f;
    color: white;
    padding: 20px;
    border-radius: 5px;
}
.blue{
   color: #bc003f;
}