.button-blue{
    background-color: #0d5796;
    border: #0d5796;
}
.appoinment-tag{
    background: #0D5796;
    color: white;
    padding: 20px 0;
    border-radius: 10px;
}
.blue{
   color: #0d5796;
}