.logo-text{
    color: #bc003f;
    font-weight: 800;
    letter-spacing: 3px;

}
.logo-text-1{
    color: #fe436c;
}

.button{
    background-color: #ff5353;
    border: none;
}
.user-img{
    width: 40px;
}
.section{
    border: 1px solid white;
    border-radius: 5px !important;
}
.section:hover{
    color:#bc003f !important;
    border:1px solid #bc003f !important;
    border-radius: 5px !important;
}
.user{
    color: #bc003f !important;
}